/Verdure/Verdure.Domain/bin
/Verdure/Verdure.Domain/obj

/Verdure/Verdure.Domain.Tests/bin
/Verdure/Verdure.Domain.Tests/obj

/Verdure/Verdure.Domain.Mobile/bin
/Verdure/Verdure.Domain.Mobile/obj

/Verdure/Verdure.Infrastructure/bin
/Verdure/Verdure.Infrastructure/obj

/Verdure/Verdure.Infrastructure.Mobile/bin
/Verdure/Verdure.Infrastructure.Mobile/obj

/Verdure/Verdure.Infrastructure.Tests/bin
/Verdure/Verdure.Infrastructure.Tests/obj

/Verdure/Verdure.Mobile/Verdure.Mobile/bin
/Verdure/Verdure.Mobile/Verdure.Mobile/obj

/Verdure/Verdure.Mobile/Verdure.Mobile.Android/bin
/Verdure/Verdure.Mobile/Verdure.Mobile.Android/obj

/Verdure/Verdure.Mobile/Verdure.Mobile.iOS/bin
/Verdure/Verdure.Mobile/Verdure.Mobile.iOS/obj

/Verdure/Verdure.WinForm/bin
/Verdure/Verdure.WinForm/obj

/Verdure/.vs